.counters {
    text-align: center;
}

.p span {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.p{
    font-family: "Calibri", Times, serif;
    font-size: 3rem;
    color: white;
}

.p button {
    font-size: 3rem;
    font-family: "Calibri", Times, serif;
}

.btnDesign{
    border-radius: 15px;
    height: 100px;
    width: 150px;
}